body {
	overflow: hidden;
	font-family: Calibri; 
}

#chat-form {
	overflow: hidden;
}

#chatbot-name{
	position: absolute; 
	margin: 5px; 
	font-weight: bold; 
	font-size: x-large; 
	font-family: Calibri; 
	width: 200px;
}

#chat-header{
	border-style: solid; 
	border-width: 3px; 
	border-color: #3CB789 #3CB789 #E3F0EA #3CB789; 
	background-color: #00D689; 
	position: absolute; 
	height: 50px; 
	top: 0px; 
	right: 0px; 
	left: 0px; 
	z-index: 2;
}

#chat-container{
	background-color: #FFFFFF; 
	position: absolute; 
	width: 400px; 
	height: 400px; 
	bottom: 40px; 
	overflow:auto; 
	padding-top: 50px;
}

.chatbot-message{
	border-radius: 7px; 
	margin: 0 0 15px 20px;
	padding: 20px; 
	color: #000000; 
	background-color: #F2F6FA; 
	width: 150px;
}

.user-message{
	border-radius: 7px; 
	margin: 0 20px 15px 0; 
	padding: 20px; 
	color: #000000; 
	background-color: #ffeb99; 
	width: 150px;
	float: right;
}

#chat-footer{
	width: 400px; 
	height: 50px; 
	position: absolute; 
	bottom: 0px; 
	background-color: #F3F8F9; 
}

#wrapper{
	margin: 4px 20px 4px 20px; 
}

#user-input{
	width: 80%;
	background-color: #F3F8F9;
}

.clear{
	clear: both;
}

#chat-window{
	width: 100%;
	height: 510px;
	border-left: 1px solid #e0e0d1;
	border-right: solid 1px #e0e0d1;
}