body{
	background-color: #FFFFFF;
	font-family: Calibri; 
}

#chat-window{
	border-style: none;
	background-color: #FFFFFF; 
	position: fixed; 
	right: 100px; 
	bottom: 0px; 
	height: 620px; 
	width: 450px; 
	color: #FFFFFF; 
	overflow: hidden;
	
}